*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 폰트 */
@font-face {
  font-family: 'mainlight';
  src: url('GmarketSansTTFLight.ttf') format('truetype');
  }
@font-face {
  font-family: 'mainmedium';
  src: url('GmarketSansTTFMedium.ttf') format('truetype');
}
@font-face{
  font-family: 'mainmedium';
  src: url('GmarketSansTTFMedium.ttf') format('truetype');
}
@font-face{
  font-family: 'mainbold';
  src: url('GmarketSansTTFBold.ttf') format('truetype');
}
@font-face{
  font-family: 'dadoc';
  src: url('Binggrae-Bold.ttf') format('truetype');
}

body{
  width: 100%;
  background-color: rgb(245,240,221);
}
header{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 5%;
  height: 50px;
  width: 1400px;
  display: flex;
}
 header h1{
  margin-top: 3px;
  font-family: 'dadoc';
  color: white;
  text-shadow: -3px 0 rgb(42,66,38), 0 3px  rgb(42,66,38), 3px 0  rgb(42,66,38), 0 -3px  rgb(42,66,38);
 }
 header h1 a{
  text-decoration: none;
 }
 header h1 a:visited{
  color: white;
 }
 header h1 a:active { 
  color:white; 
}

/* 상단 메뉴nav 전체 */
header nav a{
  margin: 0 25px;
}

/* 상단 메뉴 중단 */
#menu ul{
  margin: 0 auto;
}
#menu{
  width: 950px;
}
#menu ul li{
  display: inline-block;
  color: rgb(42,66,38);
  padding: 20px 25px;
  font-size: 15px;
  font-weight: bold;
}
/* 로그인 회원가입 부분 (오른쪽 상단 메뉴) */
/* 로그인 했을 시, 로그아웃 마이페이지로 바뀌도록 만들어야함 */
#sidetap ul li{
  display: inline-block;
  color: rgb(42,66,38);
  padding: 20px 5px;
  font-size: 15px;
  font-weight: bold;
}
#sidetap ul{
  width: 300px;
  text-align: right;
}
/* 여기까지 긇어서 쓰세요 */


main{
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

/* 사이드 메뉴 부분 */
main #sidemenu{
  width: 200px;
  height: 1195px;
  border-right: 1.5px solid black;
  padding-right: 10px;
}

main #sidemenu ul{
  margin-top: 200px;
  margin-right: 20px;
  list-style: none;
  text-align: right;
}

main #sidemenu h1{
  font-size: 40px;
  margin-bottom: 50px;
}

main #sidemenu ul li{
  margin-bottom: 10px;
  font-size: 20px;
}

/* 가운데 화면 부분*/
main .contentManage{
 width: 1200px;
}
main .right1{
  height: 130px;
  width: 1200px;
  padding: 20px;
  line-height: 50px;
  border-bottom: 1px solid black;
}
main .right1 h2{
  text-align: center;
  font-size: 35px;
}

main .right1 #input{
  text-align: right;
} 
main .right1 input[type="text"]{
  height: 30px;
}
main .right1 button{
  height: 30px;
  width: 50px;
}

main .right2 ul{
  width: 1200px;
  border-bottom: 1px solid black;
}

/* 이름, 아이디, 이메일, 전화번호, 비밀번호 */
main .right2 #userHeader li{
  display: inline-block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 19px;
  font-family: 'mainmedium';
}

/* 내용 */
main .right2 #userContent li{
  display: inline-block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  font-family: 'mainlight';
}

.userCheck{
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.deleteUser{
  width: 60px;
  height: 30px;
}

main .right2 .li0{
width: 30px;
}
main .right2 .li1{
  width: 150px;
}
main .right2 .li2{
  width: 180px;
}
main .right2 .li3{
  width: 250px;
}
main .right2 .li4{
  width: 230px;
}
main .right2 .li5{
  width: 230px;
}


