*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: rgb(245,240,221);
}
header{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 50px;
  width: 1400px;
  display: flex;
}
/* 상단 사진 img */
#headimg{
  background: url("../image/mainhead.png") no-repeat;
  background-size: 100% 100%;
  margin: 5px 20px 0 40px;
  width: 150px;
  height: 45px;
}

/* 상단 메뉴nav 전체 */
header nav a{
  margin: 0 25px;
}

/* 상단 메뉴 중단 */
#menu ul{
  margin: 0 auto;
}
#menu{
  width: 950px;
}
#menu ul li{
  display: inline-block;
  color: rgb(42,66,38);
  padding: 20px 5px;
  font-size: 15px;
  font-weight: bold;
}
#sidetap ul li{
  display: inline-block;
  color: rgb(42,66,38);
  padding: 20px 5px;
  font-size: 15px;
  font-weight: bold;
}
main{
  width: 1400px;
  margin: 0 auto;
  height: 88vh;
  display: flex;
  flex-flow: row;
}
#leftmain{
  padding: 80px;
  width: 700px;
  float: left;
 }
 #leftmain h1{
  text-align: right;
  font-size: 80px;
  width: 600px;
 }
 #leftmain p{
  width: 600px;
  text-align: right;
 }

 #leftmain #textbox{
  margin-top: 50px;
  margin-left: 30px;
  width: 600px;
  height: 200px;
  background-color: rgb(42,66,38);
  border-radius: 30px;
 }
 #rightmain{
  width: 700px;
 }
 #rightmain img{
   width: 600px;
   height:500px;
 }