*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'mainword';
}
body{
  width: 100%;
  background-color: rgb(245,240,221);
}
header{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 5%;
  height: 50px;
  width: 1400px;
  display: flex;
}
/* 상단 사진 img */
#headimg{
  background: url("../image/mainhead.png") no-repeat;
  background-size: 100% 100%;
  margin: 5px 20px 0 40px;
  width: 150px;
  height: 45px;
}

/* 상단 메뉴nav 전체 */
header nav a{
  margin: 0 25px;
}

/* 상단 메뉴 중단 */
#menu ul{
  margin: 0 auto;
}
#menu{
  width: 950px;
}
#menu ul li{
  display: inline-block;
  color: rgb(42,66,38);
  padding: 20px 5px;
  font-size: 15px;
  font-weight: bold;
}
#sidetap ul li{
  display: inline-block;
  color: rgb(42,66,38);
  padding: 20px 5px;
  font-size: 15px;
  font-weight: bold;
}
/* 여기까지 긇어서 쓰세요 */



@font-face {
  font-family: 'mainword';
  src: url('Binggrae-Bold.ttf') format('truetype');
}

/* 가운데 메인 */
main{
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  height: 75vh;
}
#leftmain{
  padding: 80px;
  width: 700px;
  float: left;
 }
 #leftmain h1{
  font-family:'mainword';
  text-align: right;
  font-size: 90px;
  width: 600px;
 }
 #leftmain p{
  font-family:'mainword';
  width: 600px;
  text-align: right;
 }

 #leftmain #textbox{
  width: 600px;
  height: 200px;
  border-radius: 30px;
  display: flex;
  align-items:end;
 }
 #login{
  margin-left: auto;
 }
 #signin{
  margin-left: 20px;
 }
 #textbox a{
  line-height: 90px;
  text-align: center;
  text-decoration: none;
  width: 170px;
  height: 90px;
  background-color: rgb(42,66,38);
  color: rgb(12, 11, 6);
  border-radius: 20px;
 }
 #login{
  line-height: 90px;
  text-align: center;
  width: 170px;
  height: 90px;
  background-color: rgb(42,66,38);
  color: rgb(245,240,221);
  border-radius: 20px;
 }

 #textbox a:visited{
  text-decoration: none;
  color: rgb(245,240,221);
 }

 #rightmain{
  width: 700px;
 }
 #rightmain img{
   width: 600px;
   height:500px;
 }
 #modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
form {
  border-radius: 20px;
  background-color: white;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 3px solid rgb(42,66,38);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 40px;
}
label{
  text-align: right;
  display: inline-block;
  width: 100px;
}
form h3{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 30px;
}
form input{
  height: 25px;
  margin-top: 20px;
  margin-left: 30px;
  width: 300px;
}
form #twobtn{
  margin-top: 30px;
  margin-right: 10px;
  text-align: right;
}
form #twobtn button{
  width: 80px;
  height: 25px;
}